*
!docker/
!docker/duckdb-otlp-server/
!CMakeLists.txt
!Makefile
!extension_config.cmake
!vcpkg.json
!cmake/
!cmake/**
!src/
!src/**
!external/
!external/otlp2records/
!external/otlp2records/**
!duckdb/
!duckdb/**
!extension-ci-tools/
!extension-ci-tools/**
!docker-bin/
!docker-bin/**
external/otlp2records/target/
external/otlp2records/target/**
duckdb/.git/
duckdb/.git/**
duckdb/build/
duckdb/build/**
extension-ci-tools/.git/
extension-ci-tools/.git/**
